@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: 80px;
  display: flex;
  align-items: center;
  gap: 20px;

  @include mobile {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    margin: 0;

    .textContainer {
      
      text-align: center;
      align-items: center;
      margin-top: 50px;
    }

    h1 {
      font-size: 28px;
      line-height: 52px;
    }
    .formContainer {
      padding: 10px;
      width: 100%;
    }
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      font-size: 60px;
      line-height: 88px;

      @include mobile {
        font-size: 24px;
        line-height: 52px;
      }
    }
    h2{
      @include mobile {
        font-size: 20px;
        
      }
    }

    span {
      font-weight: 300;
      @include mobile{
        font-size: 12px;
      }
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    .phoneSvg {
      stroke: orange;
      position: absolute;
      margin: auto;
      z-index: -1;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include mobile{
        gap:8px;
      }

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        border-radius: 5px;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
        border-radius: 10px;

        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}
